<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <img [src]="logo" height="50" width="120">
    <span class="menu-spacer"></span>
    <mat-slide-toggle (toggle)="dark=!dark">Toggle dark</mat-slide-toggle>
  </mat-toolbar-row>
</mat-toolbar> 
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'"><mat-icon>home</mat-icon>&nbsp;&nbsp;Home </a>
      <a mat-list-item [routerLink]="'/cart'"><mat-icon matBadge="4" matBadgePosition="above after" matBadgeColor="warn">favorite</mat-icon>&nbsp;&nbsp;Favorite </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
