.intro{
    margin-top: 1em;
}
.author{
    font-style: italic;
    font-size: small;
    color: rgb(95, 167, 230);
    text-align: end;
}
.quote{
    font-size: 16px;
}

::ng-deep .mat-card{
    width: 100%!important;
    margin-bottom: 12px;
}
::ng-deep .mat-form-field{
    width: 100%!important;
}

#mix-btn{
    width: 100% !important;
}