<div class="flex-row justify-content-center p-3">
<h1 mat-dialog-title color="primary" class="mb-3">{{drink.name}}</h1>
<label class="mb-3">Category</label>
<p class="text-muted">{{drink.category}} - {{drink.alcoholic}}</p>
<p class="text-muted"><mat-icon> local_bar</mat-icon>&nbsp; Serve with :  {{drink.glass}}</p>
<mat-divider></mat-divider>
<div mat-dialog-content class="mt-3 p-3">
<label><strong>Ingredients</strong></label>
<mat-grid-list cols="2" class="mt-2 mb-2" rowHeight="5:2">
  <ng-container *ngFor="let ingredient of drink.ingredients">
  <mat-grid-tile>
    {{ingredient.item}}
  </mat-grid-tile>
  <mat-grid-tile >
    {{ingredient.qty}}
  </mat-grid-tile>
</ng-container>
</mat-grid-list>
  <mat-divider></mat-divider>
  <label color="primary" class="mt-3"><strong>Mixing</strong></label>
  <p class="mb-2">{{drink.mix}}</p>
  <p>Cheers !!! <mat-icon>thumb_up</mat-icon></p>
</div>
<div mat-dialog-actions float-right>
  <button color="primary" mat-raised-button (click)="close()">Close</button>
</div>
</div>