<!-- <div [class.bar-dark-theme]="ingredient.dark_theme" > -->
<div class="flex-row justify-content-center" >
<h3 mat-dialog-title color="primary" class="mb-3">{{drink.name}}</h3>
<label class="mb-3">Category</label>
<p class="text-muted">{{drink.category}} - {{drink.alcoholic}}</p>
<p class="text-muted"><mat-icon> local_bar</mat-icon>&nbsp; Serve with :  {{drink.glass}}</p>
<mat-divider></mat-divider>
<div mat-dialog-content class="mt-2">
<label>Ingredients</label>
<mat-list>
  <mat-list-item *ngFor="let ingredient of drink.ingredients">
    <p matLine>
      <span> {{ingredient.item}}</span>
      <span class="float-right"> {{ingredient.qty}}</span>
    </p>
  </mat-list-item>
</mat-list>
  <mat-divider></mat-divider>
  <label color="primary" class="mt-3">Mixing</label>
  <p class="mb-2">{{drink.mix}}</p>
  <p>Cheers !!! <mat-icon>thumb_up</mat-icon></p>
</div>
<div mat-dialog-actions float-right>
  <button color="primary" [ngClass]="ingredient.dark_theme? 'dark': ''" mat-raised-button (click)="close()">Close</button>
</div>
</div>
<!-- </div> -->